{% extends 'base_layout.html' %}


{% block content %}
    <h1 class="page-title-header">Categories list</h1>
    <div class="categories">
        {% for category in categories %}
            <div class="category shadow">
                <a href="{% url 'posts:posts_list' category=category.slug %}">
                    <h2 class="category-title shadow">{{ category.title }}</h2>
                    <p class="category-description">{{ category.description }}</p>
                    <p class="category-date">{{ category.date }}</p>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
    