{% extends 'base_layout.html' %}

{% block title %} <title> Posts </title> {% endblock title %}

{% block content %}
    <div class="main-content shadow light-border">
        <div class="page-title-header posts shadow light-border">
            <h2>Posts list</h2>
            <div class="post-filter-and-create">
                <label for="post-search">Search:</label>
                <input type="search" name="search-post" id="post-search" class="default-text-entry" placeholder="Search">
                <script>
                    $(document).ready(function() {
                        $('#post-search').on('search', function() {
                            $('.post').each(function() {
                                if ($(this).find(".post-title").text().trim().toLowerCase().indexOf($('#post-search').val().trim().toLowerCase()) == -1) {
                                    $(this).hide()
                                    console.log('Hided');
                                } else {
                                    $(this).show()
                                    console.log('Showed');
                                }
                            })
                        })
                    })
                </script>
                <label for="post-filter">Sort by:</label>
                <select name="filter-post" id="post-filter">
                    <option value="date">Date</option>
                    <option value="date_reverse">Date (reverse)</option>
                    <option value="title">Title</option>
                    <option value="title_reverse">Title (reverse)</option>
                    <option value="author">Author</option>
                    <option value="author_reverse">Author (reverse)</option>
                    <option value="likes">Likes</option>
                    <option value="likes_reverse">Likes (reverse)</option>
                  </select>
                  <script>
                    $(document).ready(function() {
                        var sort_by_date = function (a, b) {
                            return Number(a.dataset.postIndex) - Number(b.dataset.postIndex)
                        }
                        var sort_by_author = function(a, b) {
                            aAuthor = a.dataset.postAuthor.toLowerCase()
                            bAuthor = b.dataset.postAuthor.toLowerCase()
                            if (aAuthor < bAuthor) return -1
                            if (aAuthor > bAuthor) return 1
                            return 0
                        }
                        var sort_by_title = function(a, b) {
                            aTitle = a.dataset.postTitle.toLowerCase()
                            bTitle = b.dataset.postTitle.toLowerCase()
                            if (aTitle < bTitle) return -1
                            if (aTitle > bTitle) return 1
                            return 0
                        }
                        var sort_by_likes = function(a, b) {
                            aLikes = a.dataset.postLikes
                            bLikes = b.dataset.postLikes
                            return aLikes - bLikes
                        }
                        $('#post-filter').change(function() {
                            var filter = $('#post-filter').val()
                            var postsContainer = $('#posts')
                            var postsChildren = $('#posts > div')
                            switch (filter) {
                                case 'date':
                                    newPosts = postsChildren.get().sort(sort_by_date)
                                    newPosts.forEach(post => {
                                        postsContainer.append(post)
                                    });
                                    break;
                                case 'date_reverse':
                                    newPosts = postsChildren.get().sort(sort_by_date).reverse()
                                    newPosts.forEach(post => {
                                        postsContainer.append(post)
                                    });
                                    break
                                case 'title':
                                    newPosts = postsChildren.get().sort(sort_by_title)
                                    newPosts.forEach(post => {
                                        postsContainer.append(post)
                                    });
                                    break
                                case 'title_reverse':
                                    newPosts = postsChildren.get().sort(sort_by_title).reverse()
                                    newPosts.forEach(post => {
                                        postsContainer.append(post)
                                    });
                                    break
                                case 'author':
                                    newPosts = postsChildren.get().sort(sort_by_author)
                                    newPosts.forEach(post => {
                                        postsContainer.append(post)
                                    });
                                    break
                                case 'author-reverse':
                                    newPosts = postsChildren.get().sort(sort_by_author).reverse()
                                    newPosts.forEach(post => {
                                        postsContainer.append(post)
                                    });
                                    break
                                case 'likes': 
                                    newPosts = postsChildren.get().sort(sort_by_likes)
                                    newPosts.forEach(post => {
                                        console.log(post);
                                        postsContainer.append(post)
                                    });
                                case 'likes-reverse':
                                    newPosts = postsChildren.get().sort(sort_by_likes).reverse()
                                    newPosts.forEach(post => {
                                        postsContainer.append(post)
                                    });
                                default:
                                    newPosts = postsChildren.get().sort(sort_by_date)
                                    newPosts.forEach(post => {
                                        postsContainer.append(post)
                                    });
                                    break;
                            }
                        })
                    })
                  </script>
                <a href="{% url 'posts:create' category=category %}" class="create-post shadow">Create post</a>
            </div>
        </div>
        <div class="posts" id="posts">
            {% for post, profile, index, likes in zipped_list %}
                <div class="post shadow light-border" data-post-title="{{ post.title }}" data-post-author="{{ post.author }}" data-post-index="{{ index }}" data-post-likes="{{ likes }}">
                    <a href="{% url 'posts:show' category=category post=post.slug %}">
                        <div class="title shadow">
                            <h2 class="post-title">{{ post.title }}</h2>
                            <div class="post-user">
                                <a href="{% url 'accounts:user_profile' username=post.author.username %}" class="user-profile-link">
                                    <p class="post-author">{{ post.author }}</p>
                                    <img class="profile-image" src=" {{ profile.image.url }}" alt="profile image">
                                </a>
                            </div>
                        </div>
                        <div class="post-content">
                            <a href="{% url 'posts:show' category=category post=post.slug %}">
                                <p class="post-snippet">{{ post.snippet }}</p>
                                <p class="post-date">{{ post.date }}</p>
                            </a>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
    