{% extends 'base_layout.html' %}


{% block content %}
    <h1 class="page-title-header">Post</h1>
    <div class="post-detail shadow">
        <h2 class="post-detail-title shadow">{{ post.title }}</h2>
        <p class="post-detail-description">{{ post.body }}</p>
        <p class="post-date">{{ post.date }}</p>
        <p class="post-author">{{ post.author }}</p>
    </div>
    <div class="interactions shadow">
        <ul>
            <li>
                <a href="#" id="like">Like <var id="likes">{{ likes }}</var></a>
            </li>
            <li>
                <a href="" id="dislike">Dislike <var id="dislikes">{{ dislikes }}</var></a>
            </li>
        </ul>
        <script type="text/javascript">
            $(document).ready(function () {
                $("#like").click(function() {
                    $.ajax({
                        type: 'POST',
                        async: true,
                        url: '{{ post.slug }}/like/',
                        data: '',
                        beforeSend: function(xhr) {
                            var csrf_token = '{{ csrf_token }}'
                            xhr.setRequestHeader('X-CSRFToken', csrf_token)
                        },
                        // Remake it
                        success: function(data) {
                            $('#likes').text(data.likes)
                            $('#dislikes').text(data.dislikes)
                            console.log(data)
                        },
                        dataType: 'json',
                    });
                });
            });
        </script>
        <script type="text/javascript">
            $(document).ready(function () {
                $("#dislike").click(function() {
                    $.ajax({
                        type: 'POST',
                        async: true,
                        url: '{{ post.slug }}/dislike/',
                        data: '',
                        beforeSend: function(xhr) {
                            var csrf_token = '{{ csrf_token }}'
                            xhr.setRequestHeader('X-CSRFToken', csrf_token)
                        },
                        // Remake it
                        success: function(data) {
                            $('#dislikes').text(data.dislikes)
                            $('#likes').text(data.likes)
                            console.log(data)
                        },
                        dataType: 'json',
                    });
                });
            });
        </script>
    </div>
    <div class="post-comments shadow">
        <div class="create-comment">
            <input type="text" name="text" id="comment_text" placeholder="Enter your comment">
            <button id="comment_btn">Create comment</button>
            <script type="text/javascript">
                $(document).ready(function() {
                    $('#comment_btn').click(function() {
                        var comment_text = $('#comment_text').val()
                        $.ajax({
                            url:'{{ post.slug }}/comment/',
                            type: 'POST',
                            data: {'text': comment_text},
                            beforeSend: function(xhr) {
                                var csrf_token = '{{ csrf_token }}'
                                xhr.setRequestHeader('X-CSRFToken', csrf_token)
                            },
                            success: function(response) {
                                comment_li = $('<li>').html(`<p class="comment-author"> ${response.user_name} </p><p class="comment-text"> ${response.text} </p><p class="comment-date"> ${response.date} </p>`)
                                $('.comments-list').append(comment_li)
                            },
                            error: function(jqXHR, textStatus, errorThrown) {
                                alert('Error: ' + textStatus + ', ' + errorThrown)
                            }
                        })
                    })
                })
            </script>
        </div>
        <ul class="comments-list">
            {% for comment in comments %}
            <li>
                <p class="comment-author">{{ comment.user }}</p>
                <p class="comment-text">{{ comment.text }}</p>
                <p class="comment-date">{{ comment.date }}</p>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock content %}
    