{% extends 'base_layout.html' %}


{% block content %}
    <h1 class="page-title-header">Post</h1>
    <div class="post-detail">
        <h2 class="post-detail-title">{{ post.title }}</h2>
        <p class="post-detail-description">{{ post.body }}</p>
        <p class="post-date">{{ post.date }}</p>
        <p class="post-author">{{ post.author }}</p>
    </div>
    <div class="interactions">
        <ul>
            <li>
                <a href="#" id="like">Like <var id="likes">{{ likes }}</var></a>
            </li>
            <li>
                <a href="" id="dislike">Dislike <var id="dislikes">{{ dislikes }}</var></a>
            </li>
        </ul>
        <script type="text/javascript">
            $(document).ready(function () {
                $("#like").click(function() {
                    $.ajax({
                        type: 'POST',
                        async: true,
                        url: '{{ post.slug }}/like/',
                        data: '',
                        beforeSend: function(xhr) {
                            var csrf_token = '{{ csrf_token }}'
                            xhr.setRequestHeader('X-CSRFToken', csrf_token)
                        },
                        // Remake it
                        success: function(data) {
                            $('#likes').text(data.likes)
                            $('#dislikes').text(data.dislikes)
                            console.log(data)
                        },
                        dataType: 'json',
                    });
                });
            });
        </script>
        <script type="text/javascript">
            $(document).ready(function () {
                $("#dislike").click(function() {
                    $.ajax({
                        type: 'POST',
                        async: true,
                        url: '{{ post.slug }}/dislike/',
                        data: '',
                        beforeSend: function(xhr) {
                            var csrf_token = '{{ csrf_token }}'
                            xhr.setRequestHeader('X-CSRFToken', csrf_token)
                        },
                        // Remake it
                        success: function(data) {
                            $('#dislikes').text(data.dislikes)
                            $('#likes').text(data.likes)
                            console.log(data)
                        },
                        dataType: 'json',
                    });
                });
            });
        </script>
    </div>
    <div class="post-comments">
        <div class="create-comment">
            <form action="" method="post">
                <input type="text" name="text" id="crt_com">
                <input type="submit" value="comment">
            </form>
        </div>
        <ul class="comments-list">
            {% for comment in comments %}
            <li>
                <p class="comment-author">{{ comment.user }}</p>
                <p class="comment-text">{{ comment.text }}</p>
                <p class="comment-date">{{ comment.date }}</p>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock content %}
    