{% extends 'base_layout.html' %}

{% block title %} <title> Posts </title> {% endblock title %}

{% block content %}
    <div class="main-content shadow light-border">
        <div class="page-title-header posts shadow light-border">
            <h2>Posts list</h2>
            <div class="post-filter-and-create">
                <input type="search" name="search-post" id="post-search" class="default-text-entry" placeholder="Search">
                <script>
                    $(document).ready(function() {
                        $('#post-search').on('search', function() {
                            $('.post').each(function() {
                                if ($(this).find(".post-title").text().trim().toLowerCase().indexOf($('#post-search').val().trim().toLowerCase()) == -1) {
                                    $(this).hide()
                                    console.log('Hided');
                                } else {
                                    $(this).show()
                                    console.log('Showed');
                                }
                            })
                        })
                    })
                </script>
                <a href="{% url 'posts:create' category=category %}" class="create-post shadow">Create post</a>
            </div>
        </div>
        <div class="posts">
            {% for post, profile in zipped_list %}
                <div class="post shadow light-border">
                    <a href="{% url 'posts:show' category=category post=post.slug %}">
                        <div class="title shadow">
                            <h2 class="post-title">{{ post.title }}</h2>
                            <div class="post-user">
                                <a href="{% url 'accounts:user_profile' username=post.author.username %}" class="user-profile-link">
                                    <p class="post-author">{{ post.author }}</p>
                                    <img class="profile-image" src=" {{ profile.image.url }}" alt="profile image">
                                </a>
                            </div>
                        </div>
                        <div class="post-content">
                            <a href="{% url 'posts:show' category=category post=post.slug %}">
                                <p class="post-snippet">{{ post.snippet }}</p>
                                <p class="post-date">{{ post.date }}</p>
                            </a>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
    