{% extends 'base_layout.html' %}

{% block title %} <title> Post details </title> {% endblock title %}

{% block content %}
    <div class="main-content shadow light-border">
        <div class="post-detail shadow light-border">
            <h2 class="post-detail-title shadow">{{ post.title }}</h2>
            <div class="post-2-columns">
                <div class="user-post-profile">
                    <a class="user-post-profile-link" href="{% url 'accounts:user_profile' username=post.author.username %}">
                        <img src="{{ author_profile.image.url }}" alt="profile image">
                        <h3>{{ post.author }}</h3>
                    </a>
                </div>
                <div class="post-text-info">
                    <p class="post-detail-description">{{ post.body|safe }}</p>
                    <p class="post-date">{{ post.date }}</p>
                </div>
            </div>
            {% if no_images == False %}
                <div class="post-images-container">
                    {% for post_images in post_images %}
                        <img class="post-image" src="{{ post_images.image.url }}" alt="post image">
                    {% endfor %}
                </div>
                <div id="overlay"></div>
                <script>
                    $(document).ready(function() {
                        var images = $('.post-image')
                        images.each(function() {
                            var modal = $('<img>')
                            modal.attr('src', $(this).attr('src'))
                            modal.attr('id', `id_${images.index($(this))}`)
                            modal.addClass('modal')
                            $('body').append(modal)
                            $(this).attr('data-modal-target', "#"+modal.attr('id'))
                        });
                        $('.modal').each(function() {
                            $(this).attr('data-modal-close', "#"+$(this).attr('id'))
                        })
                        // console.log(images);
                        var modal_triggers = images
                        // console.log(modal_triggers);
                        var modal_closers = $('.modal')
                        // console.log(modal_closers);
                        images.each(function() {
                            $(this).click(function() {
                                var modal_id = $(this).data('modalTarget')
                                // console.log(modal_id)
                                var modal = $(modal_id)
                                // console.log(modal);
                                openModal(modal)
                            })
                        })
                        modal_closers.each(function() {
                            $(this).click(function() {
                                var modal_id = $(this).data('modalClose')
                                // console.log(modal_id)
                                var modal = $(modal_id)
                                // console.log(modal);
                                closeModal(modal)
                            })
                        })
                        $('#overlay').click(function() {
                            var modals = $('.modal.active')
                            modals.each(function() {
                                closeModal($(this))
                            })
                        })
                        function openModal(modal) {
                            // alert('Modal triggered')
                            if (modal != null) {
                                modal.addClass('active')
                                $('#overlay').addClass('active')
                            }
                        }
                        function closeModal(modal) {
                            // console.log(modal);
                            if (modal != null) {
                                modal.removeClass('active')
                                $('#overlay').removeClass('active')
                            }
                        }
                    })
                    
                </script>
            {% endif %}
            <div class="interactions">
                <div class="create-comment">
                    <button id="comment_btn">Comment</button>
                    <input class="default-text-entry" type="text" name="text" id="comment_text" placeholder="Enter your comment">
                    <script type="text/javascript">
                        $(document).ready(function() {
                            $('#comment_btn').click(function() {
                                var comment_text = $('#comment_text').val()
                                if (comment_text != '' && ' ') {
                                    $.ajax({
                                        url:'{{ post.slug }}/comment/',
                                        type: 'POST',
                                        data: {'text': comment_text},
                                        beforeSend: function(xhr) {
                                            var csrf_token = '{{ csrf_token }}'
                                            xhr.setRequestHeader('X-CSRFToken', csrf_token)
                                        },
                                        success: function(response) {
                                            comment_li = $('<li>').html(`
                                                <div class="comment-author-info">
                                                    <a href="accounts/${response.user_name}" class="user-post-profile-link">
                                                        <img src="${response.profile_image_url}" alt="post author image" class="comment-prof-image">
                                                        <h3 class="comment-author">${response.user_name}</h3>
                                                    </a>
                                                </div>
                                                <div class="comment-itself">
                                                    <p class="post-detail-description">${response.text}</p>
                                                    <p class="post-date">${response.comment_date}</p>
                                                </div>`)
                                            if ($('.comments-list li').length == 0) {
                                                console.log($('.comments-list li').length);
                                                $('.no-comments').remove()
                                            }
                                            $('.comments-list').prepend(comment_li)
                                            $('#comment_text').val('')
                                        },
                                        error: function(jqXHR, textStatus, errorThrown) {
                                            alert('Error: ' + textStatus + ', ' + errorThrown)
                                        }
                                    })
                                } else {
                                    alert('Comment can\'t be empty!')
                                }
                            })
                        })
                    </script>
                </div>
                <ul>
                    <li>
                        Visitors: {{ post_views }}
                    </li>
                    <li>
                        <button id="like">▲ {{ likes }}</button>
                    </li>
                    <li>
                        <button id="dislike">▼ {{ dislikes }}</button>
                    </li>
                </ul>
                <script type="text/javascript">
                    $(document).ready(function () {
                        $("#like").click(function() {
                            $.ajax({
                                type: 'POST',
                                async: true,
                                url: '{{ post.slug }}/like/',
                                data: '',
                                beforeSend: function(xhr) {
                                    var csrf_token = '{{ csrf_token }}'
                                    xhr.setRequestHeader('X-CSRFToken', csrf_token)
                                },
                                success: function(data) {
                                    if (data.like_status == true) {
                                        let old_text = $('#like').text().replace('▲ ', '')
                                        let new_text = `▲ ${Number(old_text) + 1}`
                                        $('#like').text(String(new_text))
                                    }
                                
                                    if (data.delete_dislike == true) {
                                        let old_text = $('#dislike').text().replace('▼ ', '')
                                        let new_text = `▼ ${Number(old_text) - 1}`
                                        $('#dislike').text(String(new_text))
                                    }

                                    console.log(data)
                                },
                                dataType: 'json',
                            });
                        });
                    });
                </script>
                <script type="text/javascript">
                    $(document).ready(function () {
                        $("#dislike").click(function() {
                            $.ajax({
                                type: 'POST',
                                async: true,
                                url: '{{ post.slug }}/dislike/',
                                data: '',
                                beforeSend: function(xhr) {
                                    var csrf_token = '{{ csrf_token }}'
                                    xhr.setRequestHeader('X-CSRFToken', csrf_token)
                                },
                                success: function(data) {
                                    if (data.dislike_status == true) {
                                        let old_text = $('#dislike').text().replace('▼ ', '')
                                        console.log('OLD:' + old_text)
                                        let new_text = `▼ ${Number(old_text) + 1}`
                                        console.log('NEW:' + new_text)
                                        $('#dislike').text(String(new_text))
                                    }

                                    if (data.delete_like == true) {
                                        let old_text = $('#like').text().replace('▲ ', '')
                                        let new_text = `▲ ${Number(old_text) - 1}`
                                        $('#like').text(String(new_text))
                                    }

                                    console.log(data)
                                },
                                dataType: 'json',
                            });
                        });
                    });
                </script>
            </div>
        </div>
        <div class="post-comments shadow light-border">
            <ul class="comments-list">
                {% if no_comments == False %}
                    {% for comment, user_profile in zipped_comments %}
                    <li>
                        <div class="comment-author-info">
                            <a href="{% url 'accounts:user_profile' username=comment.user.username %}" class="user-post-profile-link">
                                <img src="{{ user_profile.image.url }}" alt="post author image" class="comment-prof-image">
                                <h3 class="comment-author">{{ comment.user }}</h3>
                            </a>
                        </div>
                        <div class="comment-itself">
                            <p class="post-detail-description">{{ comment.text }}</p>
                            <p class="post-date">{{ comment.date }}</p>
                        </div>
                    </li>
                    {% endfor %}
                {% else %}
                    <div class="no-comments">
                        <h2 class="no-comments-big">There is no comments</h2>
                        <p class="no-comments-small">Create one!</p>
                    </div>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock content %}
    