{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    {% block title %} {% endblock title %}
</head>
<body>
    <div class="wrapper">
        <nav class="nav-bar" style="background-color: deeppink;">
            <h1><a href="{% url 'posts:categories' %}">ICON</a></h1>
            <ul>
                
                {% if user.is_authenticated %}
                    <li>
                        <a href="#" id="ajax-logout">Logout</a>
                    </li>
                    <li>
                        <a href="{% url 'accounts:profile' %}">Profile</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'accounts:login' %}">Login</a>
                    </li>
                    <li>
                        <a href="{% url 'accounts:register' %}">Register</a>
                    </li>
                {% endif %}
            </ul>
            <script type="text/javascript">
                $(document).ready(function () {
                    $("#ajax-logout").click(function() {
                        $.ajax({
                            type: 'POST',
                            async: true,
                            url: '/accounts/ajax-logout/',
                            data: "param1=value1;",
                            beforeSend: function(xhr) {
                                var csrf_token = '{{ csrf_token }}'
                                xhr.setRequestHeader('X-CSRFToken', csrf_token)
                            },
                            success: function(data) {
                                location.reload();
                            },
                            dataType: 'json',
                        });
                    });
                });
            </script>
        </nav>
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>