{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sansita+Swashed&display=swap" rel="stylesheet">
    {% block title %} {% endblock title %}
</head>
<body>
    <nav class="nav-bar shadow">
        <h1><a href="{% url 'posts:categories' %}">SCHOOL FORUM</a></h1>
        <ul>
            
            {% if user.is_authenticated %}
                <li>
                    <a href="#" id="ajax-logout">Logout</a>
                </li>
                <li>
                    <a href="{% url 'accounts:profile' %}">Profile</a>
                </li>
            {% else %}
                <li>
                    <a href="{% url 'accounts:login' %}">Login</a>
                </li>
                <li>
                    <a href="{% url 'accounts:register' %}">Register</a>
                </li>
            {% endif %}
        </ul>
        <script type="text/javascript">
            $(document).ready(function () {
                $("#ajax-logout").click(function() {
                    $.ajax({
                        type: 'POST',
                        async: true,
                        url: '/accounts/ajax-logout/',
                        data: "param1=value1;",
                        beforeSend: function(xhr) {
                            var csrf_token = '{{ csrf_token }}'
                            xhr.setRequestHeader('X-CSRFToken', csrf_token)
                        },
                        success: function(data) {
                            location.reload();
                        },
                        dataType: 'json',
                    });
                });
            });
        </script>
    </nav>
    <div class="wrapper">
        
        {% block content %}
        {% endblock content %}

    </div>
    <footer class="footer">
        <p class="contact-info">
            Site author: erorr404
        </p>
    </footer>
</body>
</html>