{% extends 'base_layout.html' %}


{% block content %}
    <div class="profile-container">
        <p class="username">Username: {{ user.username }}</p>
        <p class="email">Email: {{ user.email }}</p>
        <img class="profile-picture" src="{{ profile.image.url }}" alt="user picture">
        <p class="bio">Bio: {{ profile.biography }}</p>
        <p class="post_number">Posts: {{ user_stats.posts_number }}</p>
        <p class="comment_number">Comments: {{ user_stats.comments_number }}</p>
        <span class="likes">Likes: {{ user_stats.likes_number }}</span>
        <span class="likes">Dislikes: {{ user_stats.dislikes_number }}</span>
        <div class="last-posts">
        {% for post in user_stats.last_posts %}
            <div class="post-detail">
                <h2 class="post-detail-title">{{ post.title }}</h2>
                <p class="post-detail-description">{{ post.body }}</p>
                <p class="post-date">{{ post.date }}</p>
                <p class="post-author">{{ post.author }}</p>
            </div>
        {% endfor %}
        </div>
        <div class="last-comments">
            {% for comment in user_stats.last_comments %}
                <p class="last-comment-post-snippet">{{ comment.post.snippet }}</p>
                <p class="last-comment-text">{{ comment.text }}</p>
                <p class="last-comment-post-author">{{ comment.post.author }}</p>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
