body {
    background-color: greenyellow;
}

.category {
    background-color: deeppink;
}

.post {
    background-color: deeppink;
}

.interactions {
    background-color: deeppink;
}

.post-comments {
    color: blueviolet;
}
