:root {
    --color1: #202225;
    --color2: #26292D;
    --color3: #2E3135;
    --text-hover: #d8d8d8;
    --text-color: #ffff;
    --color-important: #ca3e3e;
    --color-reject: #FF3F3F;
    --color-accept: #00CB3F;
    --border-color: #e7e7e71e;
    --border-light-width: 1px;
    --default-border-radius: 4px;
}
/* #b64124 */

/* basic */

html {
    min-height: 100vh;
}

body {
    font-family: "Fira Sans Extra Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--text-color);
    background-color: var(--color1);
    margin: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: var(--text-hover);
}

.shadow {
    box-shadow: 1px 1px 10px 0px #000000af;
}

.light-border {
    border: var(--border-light-width) solid;
    border-color: var(--border-color);
}

.main-content {
    background-color: var(--color2);
    margin: 25px 10px;
    width: 80vw;
    min-width: 400px;
    border-radius: var(--default-border-radius);
    padding: 10px;
}

.wrapper {
    background-color: var(--color1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.default-text-entry {
    outline: none;
    border: none;
    border-bottom: solid 2px var(--color1);
    font-size: 16px;
    background-color: var(--color3);
    font-family: inherit;
    width: 70%;
    color: var(--text-color);
}

/* header */

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-important);
}

.nav-bar h1 {
    margin: 0 20px;
}

.nav-bar ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.nav-bar ul li {
    margin: 0 10px;
}

.page-title-header {
    text-align: center;
    margin: 10px 0;
}

/* footer */

footer {
    background-color: var(--color-important);
    color: var(--text-color);
    min-height: 30px;
    font-size: 16px;
    width: 100%;
    margin-top: auto;
}

footer p {
    margin: 12px;
}

/* categories */

.categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.category {
    background-color: var(--color3);
    margin: 10px 20px;
    border-radius: var(--default-border-radius);
    padding: 0 0 5px 0;
    min-width: 300px;
    max-width: 33vw;
    display: flex;
    flex-direction: column;
}

.category .category-image {
    margin: 0;
    max-width: 100%;
    border-radius: var(--default-border-radius) var(--default-border-radius) 0 0;
}

.category .category-important{
    background-color: var(--color-important);
    padding: 10px;
}

.category-important h2 {
    margin: 0;
}

.category .category-description {
    margin: 10px;
    font-size: 16px;
}

.category .category-date {
    margin: 10px;
    font-size: 14px;
}

/* posts */

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-title-header.posts {
    text-align: center;
    margin: 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 500px;
}

.page-title-header.posts h2 {
    display: block;
}

.create-post {
    /* position: relative;
    z-index: 2;
    top: 35px;
    right: -206px; */
    background-color: var(--color-accept);
    padding: 5px 10px;
    border-radius: var(--default-border-radius);
}

.posts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post {
    background-color: var(--color3);
    margin: 10px 20px;
    border-radius: var(--default-border-radius);
    padding: 0 0 5px 0;
    max-width: 750px;
    min-width: 500px;
}

.post .user-profile-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30px;
    padding: 0 10px;
}

.post .user-profile-link:hover {
    background-color: var(--color-reject);
    height: 30px;
}

.post .profile-image {
    width: 25px;
    border-radius: 12px;
    margin-left: 5px;
}

.post .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-important);
    border-radius: var(--default-border-radius) var(--default-border-radius) 0 0;
    padding: 10px;
    height: 12px;
}

.post .post-content {
    padding: 10px;
}

.post .post-title {
    font-size: 20px;
    border-radius: var(--default-border-radius) var(--default-border-radius) 0 0;
    white-space: nowrap; 
    overflow: hidden;
    width: 375px;
    text-overflow: ellipsis;
}

.post .post-snippet {
    margin: 5px 0;
}

.post-date {
    margin: 5px 0;
    font-size: 14px;
    color: var(--text-hover);
}

/* post details */

.post-detail {
    background-color: var(--color3);
    border-radius: var(--default-border-radius);
    width: 90%;
    display: flex;
    flex-direction: column;
}

.post-detail-title {
    background-color: var(--color-important);
    border-radius: var(--default-border-radius) var(--default-border-radius) 0 0;
    padding: 0 0 0 10px;
}

.post-2-columns {
    display: flex;
    flex-direction: row;
}

.user-post-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: solid var(--border-light-width) var(--color1);
    border-bottom: solid var(--border-light-width) var(--color1);
    width: 20%;
    padding: 10px 20px;
    max-width: 200px;
    min-width: 130px;
    min-height: 200px;
}

.user-post-profile img {
    width: 70px;
    border-radius: 35px;
    margin: 20px 0;
}

.user-post-profile h3 {
    margin: 10px 0;
}

.user-post-profile-link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-text-info {
    width: 80%;
    border-bottom: solid var(--border-light-width) var(--color1);
}

.post-detail-description {
    margin: 15px;
}

.post-date {
    margin-left: 15px;
}

.post-detail.post-author {
    margin: 15px;
}

.post-images-container {
    border-bottom: solid var(--border-light-width) var(--color1);
}

.post-image {
    height: 65px;
    margin: 10px 10px 10px 0;
}

.post-image:nth-of-type(1) {
    margin: 10px;
}

.post-image:hover {
    cursor: pointer;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 320ms ease-in-out;
    border-radius: 10px;
    z-index: 10;
    height: 80vh;
    max-width: 100vw;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

#overlay {
    content: "";
    background-color: var(--color1);
    position: fixed;
    z-index: 10;
    opacity: 0%;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
}

#overlay.active{
    opacity: 90%;
    pointer-events: all;
}

.interactions {
    margin: 10px 10px;
    padding: 1px 0;
    border-radius: var(--default-border-radius);
    background-color: var(--color3);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.create-comment {
    width: 65%;
}

.interactions ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    margin: 0;
}

.interactions ul li {
    font-size: 16px;
    border-radius: var(--default-border-radius);
    margin: 0 5px;
}

/* #comment_text {
    outline: none;
    border: none;
    border-bottom: solid 2px var(--color1);
    font-size: 16px;
    background-color: var(--color3);
    font-family: inherit;
    width: 70%;
    color: var(--text-color);
} */

#comment_btn {
    outline: none;
    border: none;
    border-radius: var(--default-border-radius);
    font-size: 16px;
    background-color: var(--color-important);
    color: var(--text-color);
    margin: 0 10px;
    font-family: inherit;
}

#comment_btn:hover {
    background-color: var(--color-reject);
    cursor: pointer;
}

#like {
    outline: none;
    border: none;
    border-radius: var(--default-border-radius);
    font-size: 16px;
    background-color: var(--color-important);
    color: var(--text-color);
    margin: 0 1px;
    font-family: inherit;
}

#like:hover {
    background-color: var(--color-reject);
    cursor: pointer;
}

#dislike {
    outline: none;
    border: none;
    border-radius: var(--default-border-radius);
    font-size: 16px;
    background-color: var(--color-important);
    color: var(--text-color);
    margin: 0 1px;
    font-family: inherit;
}

#dislike:hover {
    background-color: var(--color-reject);
    cursor: pointer;
}

/* post comments */

.post-comments {
    margin: 10px 10px;
    border-radius: var(--default-border-radius);
    background-color: var(--color3);
    width: 90%;
}

.comments-list{
    padding-left: 0;
    list-style-type: none;
}

.comments-list li {
    border-bottom: solid var(--border-light-width) var(--color1);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 10px;
}

.comments-list li:last-child{
    border-bottom: none;
}

.comment-author-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: solid var(--border-light-width) var(--color1);
    width: 20%;
    padding: 10px 20px;
    max-width: 200px;
    min-width: 130px;
    min-height: 130px;
}

.comment-prof-image {
    width: 70px;
    border-radius: 35px;
    margin: 20px 0;
}

.comment-itself {
    min-height: 130px;
    display: flex;
    flex-direction: column;
}

/* if there is no comments */

.no-comments {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0;
}

/* profile */

.profile-row-1 {
    display: flex;
    flex-direction: row;
    width: 90%;
}

.profile-user-image {
    padding: 10px;
    margin: 10px;
    border-radius: var(--default-border-radius);
    background-color: var(--color3);
}

.profile-picture {
    border-radius: var(--default-border-radius);
    max-width: 300px;
}

.profile-main-description {
    flex-basis: 70%;
    padding: 0 0 10px;
    margin: 10px;
    border-radius: var(--default-border-radius);
    background-color: var(--color3);
}

.profile-main-description .title {
    background-color: var(--color-important);
    border-radius: var(--default-border-radius) var(--default-border-radius) 0 0;
    padding: 0 0 0 10px;
    font-weight: 400;
    font-size: 18px;
}

.profile-main-description p {
    margin-left: 10px;
}

.profile-row-2 {
    display: flex;
    flex-direction: row;
    width: 90%;
}

.users-post-list {
    width: 50%;
    border-radius: var(--default-border-radius);
    background-color: var(--color3);
    margin: 10px;
    padding: 0 0 10px;
}

.users-post-list .title {
    background-color: var(--color-important);
    border-radius: var(--default-border-radius) var(--default-border-radius) 0 0;
    padding: 0 0 0 10px;
    font-weight: 400;
    font-size: 18px;
}

.users-post-list div:last-child {
    border-bottom: none;
}

.user-post {
    border-bottom: solid var(--border-light-width) var(--color1);
    margin: 0 10px;
}

.user-post .title {
    background-color: var(--color-important);
    border-radius: var(--default-border-radius) var(--default-border-radius) 0 0;
    padding: 0 0 0 10px;
}

.profile-post-title {
    font-style: italic;
    margin: 10px;
}

.profile-post-snippet {
    margin: 10px;
}

.profile-post-date {
    margin: 10px;
    font-size: 14px;
}

.last-comments {
    width: 50%;
    border-radius: var(--default-border-radius);
    background-color: var(--color3);
    margin: 10px;
    padding: 0 0 10px;
}

.last-comments .title {
    background-color: var(--color-important);
    border-radius: var(--default-border-radius) var(--default-border-radius) 0 0;
    padding: 0 0 0 10px;
    font-weight: 400;
    font-size: 18px;
}

.last-comments div:last-child {
    border-bottom: none;
}

.last-comment {
    border-bottom: solid var(--border-light-width) var(--color1);
    margin: 0 10px;
}

.last-comment-post-snippet {
    margin: 10px;
}

.last-comment-text {
    margin: 10px;
}

.last-comment-date {
    margin: 10px;
    font-size: 14px;
}

/* post creation page */

.post-creation-form-container {
    margin: 50px;
    width: 40%;
    min-width: 400px;
    border-radius: var(--default-border-radius);
    background-color: var(--color2);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.post-creation-form-container > h2 {
    margin: 10px 0;
}

.post-creation-form-container2 {
    background-color: var(--color3);
    border-radius: var(--default-border-radius);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-creation-form-container2 {
    margin-bottom: 60px;
}

.post-creation-form-container2 > form {
    display: flex;
    flex-direction: column;
}

.post-creation-form:nth-of-type(1) > div {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.post-creation-form:nth-of-type(1) div>input {
    outline: none;
    border: none;
    border-bottom: solid 2px var(--color1);
    font-size: 16px;
    background-color: var(--color3);
    font-family: inherit;
    width: 70%;
    color: var(--text-color);
    width: 100%;
}

.post-creation-form:nth-of-type(1) div>textarea {
    outline: none;
    border: none;
    border-bottom: solid 2px var(--color1);
    font-size: 16px;
    background-color: var(--color2);
    font-family: inherit;
    width: 100%;
    color: var(--text-color);
    resize: none;
}

.post-creation-form > input[type=submit] {
    outline: none;
    border: none;
    border-radius: var(--default-border-radius);
    font-size: 16px;
    background-color: var(--color-important);
    color: var(--text-color);
    margin: 0 10px;
    font-family: inherit;
}

.post-creation-form > input[type=submit]:hover {
    background-color: var(--color-reject);
}

.post-creation-form:nth-of-type(4) div > input {
    outline: none;
    border: none;
    border-radius: var(--default-border-radius);
    font-size: 16px;
    background-color: var(--color-important);
    color: var(--text-color);
    margin: 0 10px;
    font-family: inherit;
}
